body {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
}

header {
  height: 60px;
  border-bottom: solid 1px black;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

/* .cart-img {
} */

main {
  flex-grow: 7;
}

.hidden {
  display: none;
}
